/**
 * 1. Change the default font family in all browsers (opinionated).
 * 2. Prevent adjustments of font size after orientation changes in IE and iOS.
 */
@import './variables.scss';
@import './mixins.scss';
@import './class.scss';
html {
  -ms-text-size-adjust: 100%;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 1 */
  -webkit-tap-highlight-color: transparent;
  /* 2 */
  height: 100%;
}
/**
 * Remove the margin in all browsers (opinionated).
 */
body {
  margin: 0;
  /* 1 */
  font-size: 62.5%;
  font-family: "Helvetica Neue", Helvetica, STHeiTi, Arial, sans-serif;
}
/* HTML5 display definitions
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 * 1. Add the correct display in Edge, IE, and Firefox.
 * 2. Add the correct display in IE.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}
/**
 * Add the correct display in iOS 4-7.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}
/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}
/**
 * Add the correct display in IE 10-.
 * 1. Add the correct display in IE.
 */
template, /* 1 */
[hidden] {
  display: none;
}
/* Links
   ========================================================================== */
/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */
a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */
  text-decoration: none;
}
/**
 * Remove the outline on focused links when they are also active or hovered
 * in all browsers (opinionated).
 */
a:active,
a:hover {
  outline-width: 0;
}
/* Text-level semantics
   ========================================================================== */
/**
 * 1. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  text-decoration: underline;
  /* 1 */
  text-decoration: underline dotted;
  /* 1 */
}
/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}
/**
 * Add the correct font style in Android 4.3-.
 */
dfn {
  font-style: italic;
}
/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}
/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10-.
 */
img {
  border-style: none;
}
/**
 * Hide the overflow in IE.
 */
svg:not(:root) {
  overflow: hidden;
}
/* Grouping content
   ========================================================================== */
/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}
/**
 * 1. Contain overflow in all browsers.
 * 2. Improve readability of pre-formatted text in all browsers.
 */
pre {
  overflow: auto;
  /* 1 */
  white-space: pre;
  /* 2 */
  white-space: pre-wrap;
  /* 2 */
  word-wrap: break-word;
  /* 2 */
}
/* Forms
   ========================================================================== */
/**
 * 1. Correct color not being inherited.
      Known issue: affects color of disabled elements.
 * 2. Change font properties to `inherit` in all browsers (opinionated).
 * 3. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */
  vertical-align: middle;
}
/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 * 2. Show the overflow in Edge, Firefox, and IE.
 */
button,
input,  /* 1 */
input {
  /* 2 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}
/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */
button,
html [type="button"], /* 1 */
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
}
/* Re-set default cursor for disabled elements. */
[disabled] {
  cursor: default;
}
/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}
/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}
/**
 * Remove the inner padding and cancel buttons in Chrome and Safari on OS X.
 */
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}
/* 1. Remove default vertical scrollbar in IE 8/9/10/11. */
textarea {
  overflow: auto;
  /* 1 */
  resize: none;
  vertical-align: top;
}
/* Don't inherit the `font-weight` (applied by a rule above).
NOTE: the default cannot safely be changed in Chrome and Safari on OS X. */
optgroup {
  font-weight: 700;
}
/* webkit focus outline */
input,
select,
textarea {
  outline: 0;
}
/* Android 下 input focus 消除高亮外框 */
textarea,
input {
  -webkit-user-modify: read-write-plaintext-only;
}
input::-ms-clear,
input::-ms-reveal {
  display: none;
}
/**
 * placeholder text color
 */
input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  color: inherit;
  opacity: 0.54;
}
input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.54;
}
/* table
   ========================================================================== */
/* Remove table cell spacing and padding */
table {
  border-collapse: collapse;
  border-spacing: 0;
}
td,
th {
  padding: 0;
}
h1, h2, h3, h4, h5, h6, p, figure, form, blockquote {
  margin: 0;
}
ul, ol, li, dl, dd {
  margin: 0;
  padding: 0;
}
ul, ol {
  list-style: none outside none;
}
h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: 400;
  line-height: 2;
}
* {
  box-sizing: border-box;
}
html, body {
  height: 100%;
  background-color: #fafafa;
  -webkit-overflow-scrolling: touch;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
a {
  color: inherit;
}
.page-back {
  display: inline-block;
  top: 12px;
  left: 10px;
  position: absolute;
  width: 40px;
  height: 40px;
  text-align: center;
}
.page-back i {
  font-size: 24px;
  line-height: 40px;
}

/*mint UI库统一样式调整*/
.mint-button--primary{
  background-color: #08bbc8;
}
#app{
  .mint-header{
    background-color: $header-bg;
    color: $header-color;
    height: $header-height;
    padding: $header-padding;
    &::after{
      content: '';
      @include positionAll(absolute,null,nth($header-padding,2),0,nth($header-padding,2));
      border-top: 1px solid $header-border-color;
    }
    &.no-border{
      &::after{
        border-top: none;
      }
    }
    /*中间文字样式*/
    .mint-header-title{
      font-size: $header-font-size;
      line-height: $header-line-height;
      margin: $header-title-margin;
      overflow: inherit;
      text-overflow: inherit;
      white-space: nowrap;
    }
    /*两边按钮样式*/
    .mint-button{
      .mintui-back{
        font-size: $header-back-button-font-size;
      }
      &.icon-search_icon{
        font-size: $header-search-button-font-size;
      }
    }
    /*绿色背景的头部*/
    &.green{
      background-color: $green-header-bg;
      color: $green-header-color;
      &::after{
        left: 0;
        right: 0;
        border-top-color: $green-header-border-color;
      }
    }
  }


  .search-header{
    height: $header-height;
    background-color: $header-bg;
    color: $header-color;
    padding: $header-padding;
    display: flex;
    align-items: center;
    justify-content: space-between;
    &.is-fixed {
      @include positionAll(fixed,0,0,null,0);
      z-index: 1;
    }

    .icon-back_arrow{
      font-size: $header-back-button-font-size;
    }

    .search-btn{
      border: none;
      background-color: transparent;
      padding: 0;
      outline: none;
      @include flc($search-button-font-size,$search-button-line-height,$search-button-color);
      &.searchable{
        color: $primary-color;
      }
    }
    /*中间搜索输入框的样式*/
    .search{
      width: $input-width;
      padding: $input-padding;
      border: solid 1px $input-border-color;
      text-align: left;
      @include flc($input-font-size,$input-line-height,$input-color);
      -webkit-border-radius: ($input-line-height + 2 * nth($input-padding,1)) / 2;
      border-radius: ($input-line-height + 2 * nth($input-padding,1)) / 2 + 0.05rem;
      position: relative;
      input{
        @include fl($input-font-size,1);
        border: none;
        width: 100%;
      }
      .clear{
        border-radius: 50%;
        @include size($clear-btn-size,$clear-btn-size);
        background-color: $clear-btn-bg;
        @include positionAll(absolute,nth($clear-btn-margin,1),nth($clear-btn-margin,2),null,null);
        text-align: center;
        line-height: $clear-btn-size;
        .icon{
          font-size: $clear-btn-font-size;
        }
      }
    }
  }

  .mint-checkbox-input:checked + .mint-checkbox-core {
    background-color: $primary-color;
    border-color: $primary-color;
  }
}


.v-modal{
  background-color: $font-color;
}
.mint-msgbox{
  padding: 0.5rem 0.6rem 0;
  .mint-msgbox-header{
    padding-top: 0;
    .mint-msgbox-title{
      @include flc(0.48rem,0.67rem,$font-color);
      font-weight: bold;
      text-align: left;
    }
  }
  .mint-msgbox-content{
    padding: 0.6rem 0 1.12rem;
    border: none;
    .mint-msgbox-message{
      @include flc(0.42rem,0.59rem,$font-color);
      text-align: left;
    }
  }
  .mint-msgbox-btns{
    justify-content: flex-end;
    height: auto;
    .mint-msgbox-btn{
      width: auto;
      flex: none;
      flex-grow: 0;
      @include flc(0.42rem,0.59rem,$font-color);
      padding: 0.4rem;
      font-weight: bold;
      &.mint-msgbox-cancel{
        border: none;
      }
      &.mint-msgbox-confirm{
        color: $primary-color;
      }
    }
  }
}


.bottom-sheet-box {
  .mint-navbar {
    border-bottom: $gray solid 1px;
    .mint-tab-item {
      height: 1.42rem;
      align-items: center;
      justify-content: center;
      font-weight: bold;
      box-sizing: border-box;
      flex: 1;
      display: flex;
      position: relative;
      .mint-tab-item-label {
        @include flc(0.36rem,0.54rem,$font-color);
        opacity: 0.5;
      }
      &.is-selected{
        border-bottom: none;
        &::before{
          content: '';
          position: absolute;
          left: 0;
          bottom: -0.03rem;
          width: 100%;
          height: 0.06rem;
          border-radius: 0.03rem;
          background-color: $primary-color;
          -webkit-box-shadow: 0 0.07rem 0.14rem 0 rgba(nth($primary-color-rgb,1),nth($primary-color-rgb,2),nth($primary-color-rgb,3),0.33);
          box-shadow: 0 0.07rem 0.14rem 0 rgba(nth($primary-color-rgb,1),nth($primary-color-rgb,2),nth($primary-color-rgb,3),0.33);
        }
        .mint-tab-item-label {
          color: $primary-color;
          opacity: 1;
        }
      }
      &.startTitle, &.endTitle{
        padding: 0.32rem 0 !important;
        .mint-tab-item-label{
          @include fl(0.36rem,0.42rem);
        }
      }
    }
  }
  .mint-tab-container-item{
    .picker-container{
      .area_ctrl{
        position: static;
      }
      .overlayer{
        display: none;
      }
    }
  }
}

#app{
  .text-button{
    .mint-button-text{
      font-size: 0.42rem;
      line-height: 0.62rem;
      margin-right: 0.56rem;
    }
  }
  .left{
    .mint-cell{
      position: static !important;
      top: auto !important;
      transform: none !important;
      margin-left: 0 !important;
      min-height: inherit !important;
    }
  }
}


#app{
  .mint-actionsheet-list{
    padding: 0.3rem 0;
    background-color: $white;
    .mint-actionsheet-listitem{
      @include fl(0.42rem,0.59rem);
      height: auto;
      padding: 0.48rem 0;
      border: none;
      position: relative;
    }
  }
}
.mint-actionsheet-listitem + .mint-actionsheet-listitem {
  &::before{
    @include positionAll(absolute,0,1.08rem,null,1.08rem);
    height: 0.03rem;
    background-color: $gray;
    content: '';
  }
}
/*mint UI库统一样式调整*/




.infotabs{
  .bottom-sheet-box{
    padding: 0 !important;
    .bottom-sheet{
      background-color: #fafafa !important;
      padding: 0 !important;
      .bottom-sheet-content{
        left: 0 !important;
        right: 0 !important;
        padding: 0 !important;
        .mint-navbar{
          display: flex;
          padding: 0 0.5rem;
          border-bottom: none;
          background-color: $white;
          .mint-tab-item{
            flex: inherit;
            margin-right: 1.3rem;
          }
        }
        .icon-cross{
          @include positionAll(absolute,0.46rem,0.43rem,null,null);
          font-size: 0.44rem;
          opacity: 0.66;
        }
        .mint-tab-container{
          @include positionAll(absolute,1.62rem,0,0,0);
          background-color: $white;
          overflow: inherit;
          .mint-tab-container-item{

          }
        }
      }
    }
  }
}

/*不可选picker样式*/
.disabled{
  .colName, .tooth{
    color: #ccc;
  }
}


/*filter过滤器样式*/
.filters{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  position: relative;
  .filterName{
    @include fl($filter-font-size,$filter-line-height);
    display: inline-block;
    vertical-align: middle;
  }
  .triangle{
    border-top-color: $font-color;
    opacity: 0.5;
  }
  &.green{
    background-color: $primary-color;
    color: $white;
    .triangle{
      border-top-color: $white;
      opacity: 1;
    }
  }
  &.fixed{
    width: 100%;
    position: fixed;
    top: $header-height;
    background-color: $white;
    z-index: 1;
  }
}

/*filter过滤器样式*/


/*列表部分样式*/
.list-box{
  @include positionAll(fixed,$header-height + $filter-height + $normal-margin,0,0,0);
  overflow: auto;
  &.search-list-box{
    @include positionAll(fixed,$header-height + $result-title-height + $normal-margin,0,0,0);
  }
  .item{
    position: relative;
    & + .item{
      padding-top: $normal-margin;
    }
    .item-inner{
      padding: $list-item-padding;
      background-color: $white;
      display: block;
      text-align: left;
      position: relative;
    }
  }
}

/**/
.search-result, .order-result{
  padding-top: $result-title-height;
  .result-title{
    padding: $result-title-padding;
    @include fl($result-title-font-size,$result-title-line-height);
    background-color: $white;
    text-align: left;
    width: 100%;
    position: fixed;
    top: $header-height;
    left: 0;
    z-index: 1;
    .key{
      color: $primary-color;
      font-weight: bold;
      word-wrap:break-word;
    }
  }
}


/*信息块样式*/
$info-module-item-padding: 0.6rem 0.6rem $normal-margin;

$module-item-title-font-size: 0.34rem;
$module-item-title-line-height: 0.5rem;
$module-item-title-padding-bottom: 0.3rem;

$module-item-content-font-size: 0.4rem; /*信息条目的字号*/
$module-item-content-line-height: 0.59rem; /*信息条目的行高*/
$module-item-content-margin: 0.3rem;/*信息条目之间的距离*/
.info_module{
  & > div.box{
    position: relative;
    padding: $info-module-item-padding;

    &::before{
      width: 100%;
      height: $normal-margin;
      background-color: $native-bg;
      @include positionBL(absolute);
      content: '';
    }
    &:last-child{
      &::before{
        height: 0;
      }
    }
    .title{
      @include flc($module-item-title-font-size, $module-item-title-line-height, $font-color);
      padding-bottom: $module-item-title-padding-bottom;
      position: relative;
      text-align: left;
      font-weight: bold;

      &::after{
        content: '';
        @include positionBL(absolute);
        width: 100%;
        border-top: 1px solid $gray;
      }
    }
    .info_module_body{
      padding: 0.6rem 0;
      .info_item{
        display: flex;
        justify-content: space-between;
        .info_item_name{
          @include flc($module-item-content-font-size,$module-item-content-line-height,$font-color);
        }
        .info_item_value{
          .text{
            @include flc($module-item-content-font-size,$module-item-content-line-height,$font-color);
            max-width: 5.04rem;
            text-align: right;
          }
          .icon{
            display: block;
            font-size: 0.5rem;
            &.icon-complete{
              color: $primary-color
            }
            &.icon-Oval{
              color: $font-color;
              opacity: 0.2;
            }
          }
        }

        & + .info_item{
          margin-top: $module-item-content-margin;
        }
      }
    }
  }
}

/*信息块样式*/




