@import '../../assets/scss/variables.scss';
@import '../../assets/scss/mixins.scss';

$small-text-font-size: 0.36rem;
$small-text-line-height: 0.42rem;

$big-text-font-size: 0.44rem;
$big-text-line-height: 0.65rem;

$time-part-margin-bottom: 0.06rem;
$name-part-margin-bottom: 0.32rem;

$opacity: 0.5;

$flag-item-font-size: 0.32rem;
$flag-item-line-height: 0.47rem;
$flag-item-bg: #f8f8f8;
$flag-item-padding: 0.03rem 0.3rem;


.list-box {
  .item {
    .time {
      @include flc($small-text-font-size, $small-text-line-height, $font-color);
      margin-bottom: $time-part-margin-bottom;
      opacity: $opacity;
    }
    .customer{
      @include flc($big-text-font-size,$big-text-line-height,$font-color);
      margin-bottom: $name-part-margin-bottom;
    }

    .info{
      margin-bottom: 0.04rem;
      overflow: hidden;
      .order_num, .city, .carType{
        @include flc($small-text-font-size,$small-text-line-height,$font-color);
        opacity: $opacity;
        display: inline-block;
        vertical-align: top;
        float: left;
      }
      .city{
        margin-left: 0.35rem;
      }
      .carType{
        margin-left: 0.35rem;
      }
    }
    .flags{
      @include positionAll(absolute,0.45rem,0.4rem,null,null);
      overflow: hidden;
      .flag-item{
        @include flc($flag-item-font-size,$flag-item-line-height,$primary-color);
        padding: $flag-item-padding;
        background-color: $flag-item-bg;
        border-radius: ($flag-item-line-height + nth($flag-item-padding,1)) / 2;
        margin-left: 0.2rem;
        display: inline-block;
        vertical-align: top;
        float: left;
      }
    }

  }
}
