/*浮动类*/
.float_left{
  float: left;
}
.float_right{
  float: right;
}
/*筛选内容小三角的css实现*/
.triangle{
  width: 0;
  height: 0;
  display: inline-block;
  border-width: 0.12rem 0.12rem 0 0.12rem;
  border-color: $white transparent transparent transparent;
  border-style: solid;
  vertical-align: middle;
}

/*箭头向上*/
.triangle_up{
  transform: rotate(180deg);
  -webkit-transform:rotate(180deg);
}
/*箭头向左*/
.triangle_left{
  transform: rotate(180deg);
  -webkit-transform:rotate(180deg);
}
/*箭头向右*/
.triangle_right{
  transform: rotate(180deg);
  -webkit-transform:rotate(180deg);
}
/*移动端处理1px的css实现*/
@media (-webkit-min-device-pixel-ratio: 1.5),(min-device-aspect-ratio: 1.5) {
  .border-1px::before{
    -webkit-transform:scaleY(0.7);
    transform:scaleY(0.7);
  }
}
@media (-webkit-min-device-pixel-ratio: 2),(min-device-aspect-ratio: 2) {
  .border-1px::before{
    -webkit-transform:scaleY(0.5);
    transform:scaleY(0.5);
  }
}
@media (-webkit-min-device-pixel-ratio: 2.5),(min-device-aspect-ratio: 2.5) {
  .border-1px::before{
    -webkit-transform:scaleY(0.4);
    transform:scaleY(0.4);
  }
}
@media (-webkit-min-device-pixel-ratio: 3),(min-device-aspect-ratio: 3) {
  .border-1px::before{
    -webkit-transform:scaleY(0.333);
    transform:scaleY(0.333);
  }
}
@media (-webkit-min-device-pixel-ratio: 3.5),(min-device-aspect-ratio: 3.5) {
  .border-1px::before{
    -webkit-transform:scaleY(0.2857);
    transform:scaleY(0.2857);
  }
}
@media (-webkit-min-device-pixel-ratio: 1.5),(min-device-aspect-ratio: 1.5) {
  .border-1px::after{
    -webkit-transform:scaleY(0.7);
    transform:scaleY(0.7);
  }
}
@media (-webkit-min-device-pixel-ratio: 2),(min-device-aspect-ratio: 2) {
  .border-1px::after{
    -webkit-transform:scaleY(0.5);
    transform:scaleY(0.5);
  }
}
@media (-webkit-min-device-pixel-ratio: 2.5),(min-device-aspect-ratio: 2.5) {
  .border-1px::after{
    -webkit-transform:scaleY(0.4);
    transform:scaleY(0.4);
  }
}
@media (-webkit-min-device-pixel-ratio: 3),(min-device-aspect-ratio: 3) {
  .border-1px::after{
    -webkit-transform:scaleY(0.333);
    transform:scaleY(0.333);
  }
}
@media (-webkit-min-device-pixel-ratio: 3.5),(min-device-aspect-ratio: 3.5) {
  .border-1px::after{
    -webkit-transform:scaleY(0.2857);
    transform:scaleY(0.2857);
  }
}
/*遮罩层*/
.overlayer{
  @include positionTL(fixed);
  @include size(100%,100%);
  z-index:10;
  background-color: $overlayer-bg;
  opacity: 0.5;
}
