@charset "utf-8";
$white: #fff;
$gray: #ececec;
$native-bg: #f4f6f7;
$primary-color: #00bebe;
$primary-color-rgb:0 190 190;
$font-color: #323a45;
$font-color-rgb: 50 58 69;
$padding: 0 0.5rem;/*整体界面的两边空隙*/
$normal-margin: 0.2rem; /*两块内容的一般间隔*/

/*mint header组件样式参数*/
$header-color: $font-color;
$header-padding: $padding;
$header-bg: $white;
$header-font-size: 0.5rem;
$header-line-height: 0.7rem;
$header-title-margin: 0.45rem 0 0.44rem;
$header-height: ($header-line-height + nth($header-title-margin,1) + nth($header-title-margin,3));
$header-border-color: $gray;
$header-back-button-font-size: 0.42rem;
$header-search-button-font-size: 0.6rem;
/*绿色mint header头部组件*/
$green-header-bg: $primary-color;
$green-header-color: $white;
$green-header-border-color: #02B0B0;

/*搜索页面头部组件*/
$search-button-font-size: 0.34rem;
$search-button-line-height: 0.5rem;
$search-button-color: #dcdcdc;

$clear-btn-bg: #f4f6f7; /*清除按钮背景色*/
$clear-btn-color: rgba(50,58,69,0.66); /*清除按钮背景色*/
$clear-btn-size: 0.64rem;
$clear-btn-margin: 0.11rem 0.15rem; /*清除input内容按钮的边距*/
$clear-btn-font-size: 0.12rem; /*叉icon的字体大小*/

$input-width: 7.7rem;
$input-color: $font-color;
$input-font-size: 0.36rem;
$input-line-height: 0.54rem;
$input-border-color: #dcdcdc;
$input-padding: 0.16rem $clear-btn-size + 2 * nth($clear-btn-margin,2) 0.16rem 0.4rem;
/*搜索页面头部组件*/

/*过滤器组件*/
$filter-height: 1.44rem;
$filter-font-size: 0.34rem;
$filter-line-height: $filter-height;
/*过滤器组件*/



/*遮罩层背景色*/
$overlayer-bg: $font-color;





/*历史记录组件*/
$history-padding: 0 0.5rem; /*历史记录组件两边的空白*/
$history-margin-top: 0.6rem; /*历史记录组件距离头部的高度*/

$history-title-font-size: 0.4rem; /*历史记录几个字的字号*/
$history-title-line-height: 0.59rem; /*历史记录几个字的行高*/

$history-list-bg: #f4f6f7; /*每条历史记录的背景色*/
$history-list-color: #54585a; /*每条历史记录的字体颜色*/
$history-list-font-size: 0.36rem; /*每条历史记录的字号*/
$history-list-line-height: 0.5rem; /*每条历史记录的行高*/
$history-list-margin: 0 0.2rem 0.4rem 0; /*每条历史记录的边距*/
$history-list-padding: 0.18rem 0.4rem; /*每条历史记录的padding*/
$history-list-border-radius: ($history-list-line-height + nth($history-list-padding,1) * 2) / 2; /*每条历史记录的border-radius*/

$history-listbox-margin-top: 0.43rem; /*条目离标题的距离*/


/*订单列表相关变量*/
$list-item-margin-top: 0.2rem; /*每一个条目之间的边距*/
$list-item-padding: 0.5rem 0.6rem; /*每一条条目的padding*/

$list-order-num-font-size: 0.44rem;/*条目订单号的字号*/
$list-order-num-line-height: 0.62rem;/*条目订单号的行高*/
$list-order-num-margin-bottom: 0.3rem;/*条目订单号的下边距*/

$list-info-font-size: 0.34rem;/*描述文字的字号*/
$list-info-line-height: 0.48rem;/*描述文字的行高*/
$list-info-margin-top: 0.15rem;/*两行描述文字之间的垂直距离*/

$title-info-title-width: 1.76rem; /*每行描述文字标题宽度*/
$title-info-title-margin-right: 0.1rem; /*每行描述文字标题右边距*/

/*搜索结果样式参数--提示搜索关键字那一部分*/
$result-title-padding: 0.48rem 0.5rem;
$result-title-font-size: 0.36rem;
$result-title-line-height: 0.5rem;
$result-title-height: $result-title-line-height + 2 * nth($result-title-padding,1);


/*待办任务列表相关参数*/
/*TaskCount组件参数*/
$task-count-font-size: 0.84rem;
$task-count-line-height: 1rem;
$task-count-padding: 0.48rem 0 0.55rem;
$task-count-height: $task-count-line-height + nth($task-count-padding,1) + nth($task-count-padding,3);
/*TaskCount组件参数*/






